@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #add8e6;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: white;
  color: black;
  border-bottom: black solid 10px;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

#current-day {
  font-size: 25px;
}

.container {
  padding-bottom: 30px;
}

.col-2 {
  background-color: white;
  border: solid black 3px;
  border-radius: 5px;
  padding-top: 20px;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
} 

textarea {
  background: #c1e0f5;
  border: solid black 3px;
  border-radius: 5px;
  resize: none;
  color: #000000;
  padding: 9.5px;
}

.col-8 {
  padding-left: 6px;
}

.save-button {
  background-color: white;
  border: solid black 3px;
  border-radius: 5px;
  margin-left: 0px;
  height: 72px;
  width: 72px;
}

.save-button i:hover {
  font-size: 35px;
  transition: all 0.3s ease-in-out;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black
}

.hour {
  background-color: white;
  color: #000000;
  border-top: 1px dashed #000000;
}